main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

header i {
  padding-right: 0.3rem;
}

header>.container-fluid {
  padding: 0px;
}

#hoursBlock {
  color: #fff;
  padding: 0 0;
}

.rating span {
  margin: 0.1rem;
}

.navbar {
  background-color: #333;
  padding: 0.5rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-text>ul {
  justify-content: space-around;
  padding-left: 0;
  margin-bottom: 0;
}

.navbar-text>ul>li {
  list-style: none;
}

.navbar-text>ul>li>a>i {
  padding: 2px 0 0 0;
  font-size: 24px;
}

/* carousel */
.carousel {
  background-color: #333;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}
